





<div class="container border-black ">
    <div>
        <img src="~/images/cast/@Model.ProfilePicture" />
        <h3>@Model.FirstName @Model.LastName</h3>
    </div>
    <p> Bio: @Model.Bio</p>
    <a class="link-info" href="">Social Media</a>
</div>
<hr />
